{% extends 'base.html.twig' %}

{% block body %}

<div class="col-xs-5 col-md-5">
        <div class="box box-success">
            <div class="box-header with-border">
            <h3 class="box-title"><i class="fa fa-list" aria-hidden="true"></i>&nbsp;Categoria</div>
            <div class="box-body">

                <div class="col-xs-12 col-md-12">    

                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <th>Id</th>
                                <td>{{ products_Category.id }}</td>
                            </tr>
                            <tr>
                                <th>Codigo</th>
                                <td>{{ products_Category.code }}</td>
                            </tr>
                            <tr>
                                <th>Nombre</th>
                                <td>{{ products_Category.nameCat }}</td>
                            </tr>
                            <tr>
                                <th>Descripción</th>
                                <td>{{ products_Category.description }}</td>
                            </tr>
                            <tr>
                                <th>Activo</th>
                                <td>{% if products_Category.active %}Si{% else %}No{% endif %}</td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="col-xs-5 col-md-5">    

                        <a class="btn btn-block btn-info" href="{{ path('products_category_edit', { 'id': products_Category.id }) }}">Editarlo</a>

                    </div>
                    <!--div class="col-xs-5 col-md-5">    
                        {{ form_start(delete_form) }}
                            <input class="btn btn-block btn-danger" type="submit" value="Delete">
                        {{ form_end(delete_form) }}
                    </div-->
                </div>
            </div>
        </div>
</div>
  
{% endblock %}